<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="extended.ui.oasistravelplanner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OASISTravelPlanner">
        <activity
            android:name=".ViewHotelBookings"
            android:exported="false" />
        <activity
            android:name=".mybookings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Currency_Convertor"
            android:exported="true" />
        <activity
            android:name=".Temperature_Calculator"
            android:exported="true" />
        <activity
            android:name=".Memories_View"
            android:exported="true" />
        <activity
            android:name=".Memories_Update"
            android:exported="true" />
        <activity
            android:name=".Memories_Create"
            android:exported="true" />
        <activity
            android:name=".Memories"
            android:exported="true" />
        <activity
            android:name=".UpdatevehicleBookings"
            android:exported="true" />
        <activity
            android:name=".MybookingsVehicles"
            android:exported="true" />
        <activity
            android:name=".MyVehicles"
            android:exported="true" />
        <activity
            android:name=".DistanceCalculator"
            android:exported="true" />
        <activity
            android:name=".Compass"
            android:exported="true" />
        <activity
            android:name=".BookVehicle"
            android:exported="true" />
        <activity
            android:name=".update"
            android:exported="true" />
        <activity
            android:name=".settings"
            android:exported="true" />
        <activity
            android:name=".SearchLocation"
            android:exported="true" />
        <activity
            android:name=".Start"
            android:exported="true" />
        <activity
            android:name=".appregister"
            android:exported="true" />
        <activity
            android:name=".map"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".home_booking"
            android:exported="true" />
        <activity
            android:name=".my_bookings"
            android:exported="true" />
        <activity
            android:name=".make_a_booking"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".hotelbookmain"
            android:exported="true" />
        <activity
            android:name=".edit_bookings"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>